@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mapboxgl-popup-content {
  background: #1e293b;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 13px;
}

.mapboxgl-popup-tip {
  border-top-color: #1e293b !important;
  border-bottom-color: #1e293b !important;
}
